---
const personalImageAlt = "Miguel 츼ngel";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/Me.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/luis-angel-cebreros-carrillo-a9b1b630a/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy Angel Carrillo
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-purple-400 [&>strong]:text-purple-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +1 a침o de experiencia. <strong
      >Ingeniero en Tecnolog칤as de la Informaci칩n y Dise침ador UX/UI</strong
    > de Sinaloa, Mexico 游쓇릖. Especializado en el desarrollo de aplicaciones web 칰nicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:lcebreros@upmys.edu.mx">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill
      href="https://www.linkedin.com/in/luis-angel-cebreros-carrillo-a9b1b630a/"
    >
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
